<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.licence.clock">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icoicoreveil"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icoreveilvoid"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity android:name=".music.MusicActivity"
            android:label="@string/music_label"/>
        <activity android:name=".reminder.ReminderActivity"
            android:label="@string/reminder_label"/>
        <activity android:name=".reminder.ReminderEditorActivity"
            android:label="@string/reminder_editor_label"/>
        <activity android:name=".alarm.AlarmActivity"
            android:label="@string/alarm_label"/>
        <activity android:name=".alarm.AlarmEditorActivity"
            android:label="@string/alarm_editor_label"/>
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reminder.ReminderBroadcast"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>